*{
	margin: 0;
	padding: 0;
}
nav{
	background-color: #E95AB4;
	width: 100%;	
}

a{
	font-size: 25px;
	color: whitesmoke;
	text-decoration: none;
	cursor: pointer;
}

.flex-container a:hover{
	background-color: #5C0F40;

}

git filter-branch --env-filter '
OLD_EMAIL="ananavelez@gmail.com"
CORRECT_NAME="cstapiarubio"
CORRECT_EMAIL="your-correct-email@example.com"
if [ "$GIT_COMMITTER_EMAIL" = "$OLD_EMAIL" ]
then
    export GIT_COMMITTER_NAME="$CORRECT_NAME"
    export GIT_COMMITTER_EMAIL="$CORRECT_EMAIL"
fi
if [ "$GIT_AUTHOR_EMAIL" = "$OLD_EMAIL" ]
then
    export GIT_AUTHOR_NAME="$CORRECT_NAME"
    export GIT_AUTHOR_EMAIL="$CORRECT_EMAIL"
fi
' --tag-name-filter cat -- --branches --tags