@media only screen and (max-width: 500px){
	*{
		font-family:'Lobster', cursive;
	}

	nav{
		background-color: #584C57;
		height: 180px;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li a{
		border-bottom: #F12EE1 solid;
		border-right: none;
	}
	

	.flex-container li a:hover{
		background-color: #C768BF;
	}

}